body {
  height: 300%;
  overflow-x: hidden;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.pexels.com/photos/3184323/pexels-photo-3184323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=580&w=790");
   background-position: fixed;
  background-repeat: no-repeat;
   background-size: cover;
  overflow: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body {
	height:100%;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    overflow-x: hidden;
    
}

section {
    width:94%;
  	margin:0 auto;
  	height:100%;
	color:#fff;
}

a:link, a:visited {
	color:rgb(22, 0, 109);
  border: #777;
}

.panel {
	color:#777;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
	width: 94%;
  text-align: center;
  color: rgb(57, 57, 57);
}


.container-fluid{
  background-color: #ffffffc9;
  border-radius: 10px;
  
}

.loading{
  background-color: #0d1118;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url(http://fonts.googleapis.com/css?family=Antic+Slab);



h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#fcf9f9d2;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.page-head{
  background-color: rgba(226, 226, 226, 0.095);
  color: rgb(49, 49, 49);
}

.page-header{
  margin: 15px;
  background-color: rgba(238, 238, 235, 0.714) !important;
  color: rgb(49, 49, 49) !important;
  height: 75px !important;
}

.header-text{
  color: #383838 !important;
  font-family: 'Antic Slab', serif !important;
}

.footer-custom{
  height: 25px !important;
  padding: 0px !important;
  font-family: 'Antic Slab', serif !important;
   background-color: rgba(238, 238, 235, 0.714) !important;
}

.footnote{
  color: rgba(226, 226, 226, 0.7);
}

.card{
  padding: 20px !important;
  background-color: rgba(253, 253, 249, 0.755) !important;
}

.card-text{
  font-weight: bold !important;
  font-family: 'Antic Slab', serif !important;
}

.room-description{
  margin: 20px 0px !important;
}

.button-text{
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

.container-standard{
  padding: 50px;
  background-color: rgba(238, 238, 235, 0.714) !important;
  height: 95% !important;
}

.motivation-text{
  margin: 40px 0px !important;
}

.container-text{
  display: flex;
  justify-content: start;
  margin-top: 40px 0px !important;
}

.home-container{
  background-color: rgb(27, 27, 27);
}

.home-text{
  color: white !important;
}

.heads{
  color: rgba(226, 226, 226, 0.972);
}

.collage{
  width: 33.3% !important;
}

.text-custom{
  font-family: 'Antic Slab', serif !important;
   background-color: rgba(238, 238, 235, 0.714) !important;
}